# Final report for Spire consulting project-preprocessing

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import supportfun
import math
from datetime import datetime, date, time
import make_graph

/Users/Xin/anaconda/envs/py27/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/Users/Xin/anaconda/envs/py27/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
df1 = pd.read_table("../input/untitled-report-37c8b2238fc5-2016-09-21-05-54-02.csv", delimiter = ',')
len(df1.md5.value_counts().index) # one user

1

In [4]:
df1 = df1.drop_duplicates() # remove duplications

In [6]:
df1_clean_ext = supportfun.feature_engineering(df1) # feature engineering

/Users/Xin/anaconda/envs/py27/lib/python2.7/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
supportfun.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df_clean_ext['record_min'] = time_min_ext

In [7]:
df1_clean_ext.to_csv("df1_clean_ext.csv", sep = ',', header = False) # save this part in "df1_clean_ext.csv"

In [8]:
df2 = pd.read_table("../input/untitled-report-6ff84c35c328-2016-09-21-05-00-03.csv", delimiter = ',')
len(df2.md5.value_counts().index) # 181 users

181

In [9]:
df2 = df2.drop_duplicates()
df2_short = df2[df2.md5 != df2.md5.value_counts().index[0]] # remove the records of the user with the most records
df2_short_clean_ext = supportfun.feature_engineering(df2_short) # feature engineering
df2_short_clean_ext.to_csv("df2_short_clean_ext.csv", sep = ',')  # save to file

supportfun.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['time_len'] = time_len.values()
supportfun.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['start_year'] = year_start.values()
supportfun.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['start_month'] = month_start.values()
supportfun.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['start_day'] = day_start.values()
supportfun.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['weekday'] = weekday.values() # monday is 0, sunday is 6
supportfun.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['time_minutes'] = time_minutes
supportfun.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['start_ymd'], df['start_time'] = df['start_at'].str.split(' ', 1).str
supportfun.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['weekday_bi'] = weekday_bi.values()
supportfun.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['replicates'] = rep.values()

In [10]:
df2_00 = df2[df2.md5 == df2.md5.value_counts().index[0]] # records of the first user
df2_00_clean_ext = supportfun.feature_engineering(df2_00) # feature engineering 
df2_00_clean_ext.to_csv("df2_00_clean_ext.csv", sep = ',', header = False) # save to file

In [15]:
df2_00_clean_ext.head()

,streak_type,start_at,stop_at,local_start_at,local_stop_at,md5,time_len,start_year,start_month,start_day,weekday,time_minutes,start_ymd,start_time,weekday_bi,replicates,record_min
194110,1,2015-09-09 07:14:51,2015-09-09 07:27:54,2015-09-09 15:14:51,2015-09-09 15:27:54,58041dd9a1b54db7c7424c236e951023,783.0,2015,9,9,2,914,2015-09-09,07:14:51,0,15,914
194110,1,2015-09-09 07:14:51,2015-09-09 07:27:54,2015-09-09 15:14:51,2015-09-09 15:27:54,58041dd9a1b54db7c7424c236e951023,783.0,2015,9,9,2,914,2015-09-09,07:14:51,0,15,915
194110,1,2015-09-09 07:14:51,2015-09-09 07:27:54,2015-09-09 15:14:51,2015-09-09 15:27:54,58041dd9a1b54db7c7424c236e951023,783.0,2015,9,9,2,914,2015-09-09,07:14:51,0,15,916
194110,1,2015-09-09 07:14:51,2015-09-09 07:27:54,2015-09-09 15:14:51,2015-09-09 15:27:54,58041dd9a1b54db7c7424c236e951023,783.0,2015,9,9,2,914,2015-09-09,07:14:51,0,15,917
194110,1,2015-09-09 07:14:51,2015-09-09 07:27:54,2015-09-09 15:14:51,2015-09-09 15:27:54,58041dd9a1b54db7c7424c236e951023,783.0,2015,9,9,2,914,2015-09-09,07:14:51,0,15,918

In [2]:
df_all = pd.read_table("../input/df_all.csv", delimiter = ',') #concatenated extended csv files and load in

/Users/Xin/anaconda/envs/py27/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_all.head()

,Unnamed: 0,streak_type,start_at,stop_at,local_start_at,local_stop_at,md5,time_len,start_year,start_month,start_day,weekday,time_minutes,start_ymd,start_time,weekday_bi,replicates,record_min
0,0,1,2014-11-29 23:33:14,2014-11-29 23:37:15,2014-11-29 15:33:14,2014-11-29 15:37:15,20ed348fea1387b68b41b0f68699dcc0,241.0,2014,11,29,5,933,2014-11-29,23:33:14,1,6,933
1,0,1,2014-11-29 23:33:14,2014-11-29 23:37:15,2014-11-29 15:33:14,2014-11-29 15:37:15,20ed348fea1387b68b41b0f68699dcc0,241.0,2014,11,29,5,933,2014-11-29,23:33:14,1,6,934
2,0,1,2014-11-29 23:33:14,2014-11-29 23:37:15,2014-11-29 15:33:14,2014-11-29 15:37:15,20ed348fea1387b68b41b0f68699dcc0,241.0,2014,11,29,5,933,2014-11-29,23:33:14,1,6,935
3,0,1,2014-11-29 23:33:14,2014-11-29 23:37:15,2014-11-29 15:33:14,2014-11-29 15:37:15,20ed348fea1387b68b41b0f68699dcc0,241.0,2014,11,29,5,933,2014-11-29,23:33:14,1,6,936
4,0,1,2014-11-29 23:33:14,2014-11-29 23:37:15,2014-11-29 15:33:14,2014-11-29 15:37:15,20ed348fea1387b68b41b0f68699dcc0,241.0,2014,11,29,5,933,2014-11-29,23:33:14,1,6,937

In [12]:
# create database for all the user 
dbname = 'spire_user'
username = 'Xin'
engine = create_engine('postgres://%s@localhost/%s'%(username,dbname))
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)

In [13]:
df_short = df_all[df_all.md5 != df_all.md5.value_counts().index[0]] # load the data into database except the first user's data
usr_id = df_all.md5.value_counts().index[1:]
user_id = pd.DataFrame(usr_id, columns = ['md5'])

In [15]:
df_short.to_sql('user_data', engine, if_exists='replace')

In [14]:
user_id.to_sql('user_id', engine, if_exists='replace')

In [ ]:
for i in range(180): # plotting users data 
    userid = i
    # query
    sql_query = "SELECT * FROM user_data as ud INNER JOIN user_id as ui ON ud.md5 = ui.md5 WHERE ui.index = %i;" %(userid)
    data_from_sql = pd.read_sql_query(sql_query,con)
    outputdir = "/Users/Xin/Desktop/insight/bin/graphs/user" + str(userid)
    make_graph.plot_min_hist(data_from_sql, outputdir)
    make_graph.plot_weekday(data_from_sql, outputdir)
    make_graph.plot_days(data_from_sql, outputdir)
    make_graph.plot_month(data_from_sql, outputdir)
    make_graph.plot_daily(data_from_sql, outputdir)